{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}
{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-4 col-sm-6 mx-auto">
                <h1 class="main-header text-center">Sign up</h1>
                <form method="post">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-md form-control green-button">Sign up</button>
                </form>
                <p>Already have an account? <a href="{% url 'login' %}">Log in here.</a></p>
            </div>
        </div>
    </div>
{% endblock %}