@font-face {
    font-family: 'Affectionately-Yours';
    src: url("fonts/Affectionately-Yours.ttf");
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container {
    height: 100%;
}

.navbar-brand {
    font-family: "Affectionately-Yours", sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    color: #353535;
}

.nav-link {
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    color: #353535;
}

#main-navbar {
    background-color: #ffffff;
    height: 60px;
}