section {
    padding: 50px 0;
}

p {
    font-size: 1.25rem;
}

.full-height {
    min-height: calc(100% - 50px);
}

.row {
    margin: 0;
}

/* Section 1 - Main */

#main {
    min-height: 100%;
    color: white;
    padding-bottom: 70px;
}

#main h1 {
    font-family: "Affectionately-Yours", sans-serif;
    font-size: 8rem;
    margin-bottom: 0;
    height: 120px;
}

#main p {
    font-size: 1.5rem;
}

/* Section 2 - About */

#about {
    background: #39b54a url("../images/about/poly-01.svg") no-repeat right bottom;
    background-size: 750px auto;
    color: #ffffff;
}

#about h1 {
    font-size: 4rem;
    font-family: "OpenSans-Bold", sans-serif
}

#about hr {
    height: 6px;
    background-color: #96f5a3;
    width: 90px;
    border: 0;
    margin: 30px 0;
}

/* Section 3 - Features */

#features {
    background: #ebebeb url("../images/about/poly-02.svg") no-repeat right top;
    background-size: 750px auto;
}

#features h2 {
    font-family: "Museo-900";
    text-transform: uppercase;
    color: #171717;
}

#features hr {
    background-color: #11711e;
    width: 50px;
    height: 6px;
    border: 0;
    margin: 20px 0;
}

#features img {
    max-height: 86px;
    max-width: 86px;
    margin-bottom: 15px;
}

#features .col-md-4 {
    padding: 0 30px;
}

/* Section 4 - Featured Verse */

#featured-verse {
    background: #11711e url("../images/about/featured-bg.gif") no-repeat center;
    background-size: cover;
    color: #ffffff;
    text-align: right;
}

#featured-verse h1 {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 5rem;
}

#featured-verse h2 {
    font-size: 1.25rem;

}

/* Section 5 - Call to Action */

#cto {
    background: #ffffff url("../images/about/poly-03.svg") no-repeat right bottom;
}

#cto h1 {
    font-size: 5rem;
    font-family: "Affectionately-Yours", sans-serif;
    height: 80px;
    margin-bottom: 0;
}

#cto h2 {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 3rem;
}

/* Footer */

footer {
    background-color: #111111;
    color: #ffffff;
    padding: 20px 0;
}

footer h1 {
    font-family: "Affectionately-Yours", sans-serif;
}

footer a {
    color: #ffffff;
    font-size: 0.95rem;
    margin-right: 15px;
}

footer a:hover {
    color: #ffffff;
}

footer p {
    font-size: .75rem;
}

/* For viewers with screens smaller than 576px (phone, tablet, etc). */

@media (max-width: 576px) {
    #featured-verse h1 {
        font-size: 2.45rem;
    }

    #cto h2 {
        font-size: 2rem;
    }
}