section {
    min-height: calc(100% - 50px);
    padding: 50px;
}

p {
    font-size: 1.25em;
}

.row {
    margin: 0;
}

/* Section 1 - Header */

#main h1 {
    font-family: "Affectionately-Yours", sans-serif;
    font-size: 10em;
    margin-bottom: 0;
    height: 150px;
}

#main p {
    font-size: 1.5em;
}

#main {
    min-height: 100%;
    color: white;
    padding-bottom: 70px;
}

/* Section 2 - About */

#about {
    background-color: #39b54a;
    color: #ffffff;
}

#about h1 {
    font-size: 4em;
    font-family: "OpenSans-Bold", sans-serif
}

#about hr {
    height: 6px;
    background-color: #96f5a3;
    width: 90px;
    border: 0;
    margin: 30px 0;
}

/* Section 3 - Features */

#features {
    background-color: #ebebeb;
}

#features h2 {
    font-family: "Museo-900";
    text-transform: uppercase;
    color: #171717;
}

#features hr {
    background-color: #11711e;
    width: 15%;
    height: 6px;
    border: 0;
    margin: 20px 0;
}

#features img {
    max-height: 86px;
    max-width: 86px;
    margin-bottom: 15px;
}

#features .col {
    padding: 0 30px;
}