body {
    background: #020202 url("../images/deevo-background.jpg") no-repeat left bottom;
    background-size: cover;
}

p a, p a:hover {
    color: #f8fa2a;
}

h1 {
    font-family: "Affectionately-Yours", sans-serif;
    font-size: 5.5rem;
    color: white;
}

p {
    color: white;
}

main {
    min-height: 100%;
}

#home-main-div {
    padding: 0 30px;
}

.btn {
    font-family: "OpenSans-Bold";
    font-size: 0.8rem;
    min-font-size: 0.8rem;
    padding: 10px 15px;
}

#know-more {
    color: white;
    background-color: #39b54a;
    margin-right: 5px;
}

#know-more:hover {
    background-color: #1a8f2a;
}

#get-started {
    color: #003e08;
    margin-left: 5px;
}

#get-started:hover {
    background-color: #ebebeb;
}

#home-login {
    font-size: 0.8rem;
    margin-top: 10px;
}