@font-face {
    font-family: "Affectionately-Yours";
    src: url("../fonts/Affectionately-Yours.ttf");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Museo-900";
    src: url("../fonts/Museo-900.otf");
}

html {
    height: 100%;
    min-height: 410px;
    min-width: 370px;
}

body {
    height: 100%;
    font-family: "OpenSans-Regular", sans-serif;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container {
    height: 100%;
}

#main-navbar .navbar-brand {
    font-family: "Affectionately-Yours", sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    color: #353535;
    padding: 0;
}

#main-navbar .navbar-nav .nav-item .nav-link {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 0.85em;
    text-transform: uppercase;
    color: #353535;
}

.nav-item {
    padding-left: 20px;
}

#main-navbar {
    background-color: #ffffff;
    padding: 0 1rem;
}