{% extends 'devotions/devotions.html' %}
{% load i18n %}
{% block title %}Devotion{% endblock %}

{% block content %}
    <h2>Devotion (Write Reflection)</h2>
    1 Choose Verse <br/>
    2 Write Reflection <br/>
    3 Review <br/>

    <p>Your chosen verse: {{ book.n }} {{ chapter }}:{{ verse.v }}</p>
    <p>{{ verse.t }}</p>
    <small>{{ version.version }} ({{ version.abbreviation }})</small>

    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form action="" method="post">{% csrf_token %}
    <table>
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form }}
        {% endfor %}
    {% else %}
        {{ wizard.form }}
    {% endif %}
    </table>
    {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
    {% endif %}
    <input type="submit" value="{% trans "submit" %}"/>
    </form>
{% endblock %}

{#{% extends 'base.html' %}#}
{#{% block title %}Devotion{% endblock %}#}
{##}
{#{% block content %}#}
{#    <h2>Devotion (Write Reflection)</h2>#}
{#    1 Choose Verse <br/>#}
{#    2 Write Reflection <br/>#}
{#    3 Review <br/>#}
{##}
{#    <p>Your chosen verse: {{ book.n }} {{ chapter }}:{{ verse.v }}</p>#}
{#    <p>{{ verse.t }}</p>#}
{#    <small>{{ version.version }} ({{ version.abbreviation }})</small>#}
{##}
{#    <form action="{% url 'devotions:review' %}" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#        <input type="submit" value="Submit Devotion" />#}
{#    </form>#}
{#{% endblock %}#}
{##}