{% extends 'base.html' %}
{% block title %}Reflect (New Devotion){% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="main-header text-center">
                    <h1 class="margin-0">New Devotion</h1>
                    <h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}: Write Reflection</h2>
                </div>

                <div class="chosen-verse">
                    <h2 class="text-bold">Your chosen verse:</h2>
                    <p>{{ verse.t }}</p>
                    <div class="text-right">
                        <p class="verse-info text-bold">{{ book.n }} {{ verse.c }}:{{ verse.v }}</p>
                        <p class="version-info">{{ version }}</p>
                    </div>
                </div>

                <form method="post">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{ form|crispy }}

                    <input type="submit" value="Save Devotion" class="btn btn-md green-button form-control"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
