{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block container %}
    <main id="main" class="row align-items-center">
        <div class="container">
            <div class="col-12 col-lg-12 col-md-12 text-center">
                <h1>Deevo</h1>
                <p>
                    Your personal daily devotion web application.
                </p>
            </div>
        </div>
    </main>
    <nav class="navbar navbar-expand-md navbar-light bg-light navbar-default row" id="main-navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Deevo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#deevo-navbar" aria-controls="deevo-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="deevo-navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">LOG IN</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'bible:book' %}">SIGN UP</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="about" class="row align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h1>About</h1>
                    <hr>
                    <p>
                        Deevo is a Django-based web application originally developed as a final project submission for CS 50.
                        The app allows you to read the Bible, write down reflections on your chosen verses each day, and help you
                        easily keep track of and edit your written devotions.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="row align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'images/about/icons/read-icon.png' %}" alt="Books side by side with mouse cursor pointing to it">
                    <h2>Read</h2>
                    <hr>
                    <p>Read the Word of God and easily switch between 7 different versions of the Bible.</p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/about/icons/reflect-icon.png' %}" alt="Pencil writing on paper">
                    <h2>Reflect</h2>
                    <hr>
                    <p>Choose a verse that inspired you and write your thoughts, reflections, or insights about it.</p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images/about/icons/remain-icon.png' %}" alt="Calendar icon with check">
                    <h2>Remain</h2>
                    <hr>
                    <p>Keep track of your devotions so you stay committed to your personal journey with your faith.</p>
                </div>
            </div>
        </div>
    </section>

{#     <section id="featured_verse" class="container">#}
{#        <h1>I can do all things through Him who strengthens me.</h1>#}
{#        <h2>Philippians 4:13</h2>#}
{#    </section>#}
{##}
{#     <section id="cto" class="container">#}
{#        <h1>Deevo</h1>#}
{#        <h2>Start your daily devotion with us.</h2>#}
{#        <a href="{% url 'signup' %}" class="btn btn-md btn-light" id="get-started">Get Started</a>#}
{##}
{##}
{#     <footer>#}
{#        <h1>Deevo</h1>#}
{#        <a href="#">Home</a>#}
{#        <a href="#">Log in</a>#}
{#        <a href="#">Sign up</a>#}
{#        <a href="#">Harvard CS50</a>#}
{#        <a href="#">Bible Database</a>#}
{#        <a href="#">Django</a>#}
{#        <p>Copyright © 2017. All rights reserved. Regina Alyssa.</p>#}
{#    </footer>#}
{% endblock %}

{% block scripts %}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>#}
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
    <script src="{% static 'js/backstretch-images.js' %}"></script>
{% endblock %}