{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
	    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
	{% else %}
        <div class="row vertical-center">
            <div class="col-12 col-lg-6 col-md-6">
                <h1>Deevo</h1>
                <p>
                    Your personal daily devotion web application.
                    Stay in touch with your faith by reflecting everyday on your chosen passage from the Bible
                    as Deevo acts as your online diary of devotions. With 7 available Bible versions to choose from,
                    you can gain different perspectives of the Word of God.
                </p>

                <a href="{% url 'about' %}" class="btn btn-md" id="know-more">Know More</a>
                <a href="{% url 'signup' %}" class="btn btn-md btn-light" id="get-started">Get Started</a>
                <p id="home-login">Already have an account? <a href="{% url 'login' %}">Log in here.</a></p>
            </div>
            <div class="col-lg-6 col-md-6"></div>
        </div>
	{% endif %}
{% endblock %}