{% extends 'base.html' %}

{% block title %}
    {% if user.is_authenticated %}
        Dashboard
    {% else %}
        Home
    {% endif %}
{% endblock %}

{% block stylesheet %}
    {% load static %}
    {% if user.is_authenticated %}
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endif %}
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
        <small class="text-muted">
            <a href="{% url 'home' %}">Deevo</a> > <span class="text-bold">Dashboard</span>
        </small>
        <div class="main-container">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="main-header">
                        <h1 class="margin-0">Welcome to Deevo, {{ user.username }}!</h1>
                    </div>
                    <p>
                        Here, you can <a href="{% url 'bible:book' %}">read the Bible</a>,
                        <a href="{% url 'devotions:new' %}">reflect on a verse</a> everyday (or whenever you feel like it),
                        and <a href="{% url 'devotions:view_devotions' %}">re-read or edit your past devotions.</a>
                    </p>
                    <div class="featured">
                        <h2 class="verse-address text-bold">Proverbs 3:6</h2>
                        <p class="version-info">World English Bible (WEB)</p>
                        <p class="verse-info">In all your ways acknowledge Him, and He will direct your paths.</p>
                    </div>
                    <a href="{% url 'devotions:reflect' 'web' 20 3 6 %}" class="btn btn-md green-button">Reflect on this verse</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <main class="row align-items-center full-height">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7" id="home-main-div">
                        <h1>Deevo</h1>
                        <p>
                            Your personal daily devotion web application. Stay in touch with your faith by reflecting
                            everyday
                            on your chosen passage from the Bible as Deevo acts as the digital home for your devotions.
                            With 7
                            available Bible versions to choose from, you can gain different perspectives of the Word of
                            God.
                        </p>

                        <a href="{% url 'about' %}" class="btn btn-md" id="know-more">Know More</a>
                        <a href="{% url 'signup' %}" class="btn btn-md btn-light" id="get-started">Get Started</a>
                        <p id="home-login">Already have an account? <a href="{% url 'login' %}">Log in here.</a></p>
                    </div>
                    <div class="col-lg-5"></div>
                </div>
            </div>
        </main>
    {% endif %}
{% endblock %}