{% extends 'base.html' %}
{% block title %}{{ book.n }} - Chapter {{ chapter }}{% endblock %}

{% block content %}
    Change version:
    <form action="{% url 'bible:change_version' book.id chapter %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
    <h2>{{ book.n }}</h2>
    <h3>Chapter {{ chapter }}</h3>
    <h4>{{ version.version }} ({{ version.abbreviation }})</h4>
    {% for verse in verse_list %}
        <p><a href="{% url 'bible:verse' version_link book.id chapter verse.v %}">{{ verse.v }}</a> {{ verse.t }}</p>
    {% endfor %}

{% endblock %}