{% extends 'base.html' %}
{% block title %}{{ book.n }} {{ chapter }}:{{ verse.v }}{% endblock %}

{% block content %}
    Change version:
    <form action="{% url 'bible:change_version_verse' book.id chapter verse.v %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
    <h3>{{ book.n }} {{ chapter }}:{{ verse.v }}</h3>
    <h4>{{ version.version }} ({{ version.abbreviation }})</h4>
    <p>{{ verse.v }} {{ verse.t }}</p>
{% endblock %}